@import url(http://fonts.googleapis.com/css?family=Roboto:300);
html
  height 100%
  font-family 'Roboto', sans-serif
  background linear-gradient(top, white, lighten( black, 20%) )
  text-shadow 0 -0.1em white
  color lighten( black, 30%)
  